<section id="about-us-section" class="about-us">
    <div class="container">
        <h2>O nas</h2>
        <p class="description-title dot-after">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        <div class="row">
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt. Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt. Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt. Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt.</p>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt. Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt. Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt. Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt.</p>
            </div>
        </div>
    </div>
</section>