<footer>
    <div class="top-footer">
        <h2>Zostaw nam swojego maila aby być na bieżąco</h2>
        <div class="newsletter-wrapper">
            <form>
                <input type="text" placeholder="Wpisz swój e-mail">
                <button>Wyślij</button>
            </form>
        </div>
    </div>
    <div class="bottom-wrapper">
        <div class="blue-footer">
            <div class="container">
                <div class="contact-data phone">
                    <p>+48 xxx xxx xxx</p>
                </div>
                <div class="contact-data mail">
                    <p><a href="mailto:test@test.com">test@test.com</a></p>
                </div>
            </div>
        </div>
        <div class="black-footer">
            <div class="container">
                <div class="rights-wrapper">
                    <p>Lorem ipsum | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>