<section id="contact-section" class="contact">
    <div class="container">
        <h2>Kontakt</h2>
        <p class="description-title dot-after">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        <div class="contact-form-wrapper">
            <form>
                <div class="half-wrapper">
                    <input name="name" type="text" placeholder="Imię*">
                    <input name="mail" type="text" placeholder="E-mail*">
                </div>
                <input name="subject" type="text" placeholder="Temat">
                <textarea name="message" placeholder="Wiadomość..."></textarea>
                <div class="button-wrapper">
                    <button>Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</section>