<section class="players">
    <div class="title-gradient">
        <h1>Zawodnicy</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="team-member">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="image-wrapper">
                                <img src="images/player.jpg" alt="player" title="player">
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="member-info">
                                <p class="name">Imię i nazwisko</p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia amet hic accusamus repellat magni reprehenderit dolorem, ex earum modi commodi unde, nesciunt, consequuntur delectus illo dolorum optio accusantium quia!
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia amet hic accusamus repellat magni reprehenderit dolorem, ex earum modi commodi unde
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="team-member">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="image-wrapper">
                                <img src="images/player.jpg" alt="player" title="player">
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="member-info">
                                <p class="name">Imię i nazwisko</p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia amet hic accusamus repellat magni reprehenderit dolorem, ex earum modi commodi unde, nesciunt, consequuntur delectus illo dolorum optio accusantium quia!
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia amet hic accusamus repellat magni reprehenderit dolorem, ex earum modi commodi unde
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="team-member">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="image-wrapper">
                                <img src="images/player.jpg" alt="player" title="player">
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="member-info">
                                <p class="name">Imię i nazwisko</p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia amet hic accusamus repellat magni reprehenderit dolorem, ex earum modi commodi unde, nesciunt, consequuntur delectus illo dolorum optio accusantium quia!
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia amet hic accusamus repellat magni reprehenderit dolorem, ex earum modi commodi unde
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="team-member">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="image-wrapper">
                                <img src="images/player.jpg" alt="player" title="player">
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="member-info">
                                <p class="name">Imię i nazwisko</p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia amet hic accusamus repellat magni reprehenderit dolorem, ex earum modi commodi unde, nesciunt, consequuntur delectus illo dolorum optio accusantium quia!
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia amet hic accusamus repellat magni reprehenderit dolorem, ex earum modi commodi unde
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="team-member">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="image-wrapper">
                                <img src="images/player.jpg" alt="player" title="player">
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="member-info">
                                <p class="name">Imię i nazwisko</p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia amet hic accusamus repellat magni reprehenderit dolorem, ex earum modi commodi unde, nesciunt, consequuntur delectus illo dolorum optio accusantium quia!
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia amet hic accusamus repellat magni reprehenderit dolorem, ex earum modi commodi unde
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="team-member">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="image-wrapper">
                                <img src="images/player.jpg" alt="player" title="player">
                            </div>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="member-info">
                                <p class="name">Imię i nazwisko</p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia amet hic accusamus repellat magni reprehenderit dolorem, ex earum modi commodi unde, nesciunt, consequuntur delectus illo dolorum optio accusantium quia!
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus officia amet hic accusamus repellat magni reprehenderit dolorem, ex earum modi commodi unde
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>