
@{
    ViewBag.Title = "AfterLogin";
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}

<h2>

    @if (Session["LogedUserFullname"] != null)
    {
        <text>
            Welcome @Session["LogedUserFullname"].ToString()
        </text>
    }
</h2>