@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Page.Title = "O_Nas";
}

<section class="main-slider">
    <div style="background-image: url('images/main_photo.jpg');" class="slider-wrapper">
        <div class="container">
            <div class="content-wrapper">
                <h1>Lorem Ipsum Lorem Ipsum</h1>
                <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem <br> port titor tincidunt. Consecte adipiscing elit. Fusce at justo eget lorem <br> port titor tincidunt.</p>
            </div>
        </div>
    </div>
</section>

<section id="about-us-section" class="about-us">
    <div class="container">
        <h2>O nas</h2>
        <p class="description-title dot-after">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        <div class="row">
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt. Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt. Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt. Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt.</p>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt. Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt. Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt. Lorem ipsum dolor sit amet, consecte adipiscing elit. Fusce at justo eget lorem port titor tincidunt.</p>
            </div>
        </div>
    </div>
</section>


<section id="contact-section" class="contact">
    <div class="container">
        <h2>Kontakt</h2>
        <p class="description-title dot-after">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        <div class="contact-form-wrapper">
            <form>
                <div class="half-wrapper">
                    <input name="name" type="text" placeholder="Imię*">
                    <input name="mail" type="text" placeholder="E-mail*">
                </div>
                <input name="subject" type="text" placeholder="Temat">
                <textarea name="message" placeholder="Wiadomość..."></textarea>
                <div class="button-wrapper">
                    <button>Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</section>