@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Page.Title = "O_Nas";
}

<section class="main-slider">
    <div style="background-image: url('images/main_photo.jpg');" class="slider-wrapper">
        <div class="container">
            <div class="content-wrapper">
                <h1>RUGBY</h1>
                <p>Graj w rugby, będziesz wielki! <br> Z nami musi się udać!</p>
            </div>
        </div>
    </div>
    <div class="arrow-down-wrapper">
        <div id="down-about" class="arrow-down"><img src="images/arrow_grey.png" alt="arrow down"></div>
    </div>
</section>

<section id="about-us-section" class="about-us">
    <div class="container">
        <h2>O nas</h2>
        <p class="description-title dot-after">Jesteśmy po to, aby poprowadzić rozgrywki Twojej ligi rugby przez cały sezon!</p>
        <div class="row">
            <div class="col-md-6">
                <p>Rugby jest to zespołowa gra między dwiema piętnastoosobowymi drużynami, polegająca na podawaniu owalnej piłki ręką lub nogą, przy czym podania ręką do przodu są zabronione.</p>
            </div>
            <div class="col-md-6">
                <p> Na tle innych gier sportowych rugby wyróżnia to, że dozwolona jest zarówno gra rękami jak i nogami. Celem jest zdobywanie punktów poprzez przyłożenie piłki w polu punktowym przeciwnika lub po celnym strzale na bramkę przeciwnika. Zwycięża zespół, który zdobędzie większą liczbę punktów.</p>
            </div>
        </div>
    </div>
    <div class="arrow-down-wrapper">
        <div id="down-search" class="arrow-down"><img src="images/arrow_grey.png" alt="arrow down"></div>
    </div>
</section>


<section id="contact-section" class="contact">
    <div class="container">
        <h2>Kontakt</h2>
        <p class="description-title dot-after">Skontaktuj sie z nami w razie wątpliwości!</p>
        <div class="contact-form-wrapper">
            <form>
                <div class="half-wrapper">
                    <input name="name" type="text" placeholder="Imię*">
                    <input name="mail" type="text" placeholder="E-mail*">
                </div>
                <input name="subject" type="text" placeholder="Temat">
                <textarea name="message" placeholder="Wiadomość..."></textarea>
                <div class="button-wrapper">
                    <button>Wyślij</button>
                </div>
            </form>
        </div>
    </div>
    <div class="arrow-down-wrapper">
        <div id="down-footer" class="arrow-down"><img src="images/arrow_grey.png" alt="arrow down"></div>
    </div>
</section>