@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Page.Title = "Tabela";
}

<section class="leagues">
    <div class="title-gradient">
        <h1>Tabela i wyniki</h1>
    </div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Nazwa</th>
                    <th>Mecze</th>
                    <th>Wygrane</th>
                    <th>Remisy</th>
                    <th>Porażki</th>
                    <th>Punkty</th>
                    <th>Bilans</th>
                    <th>Bonus</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Nazwa drużyny</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>54</td>
                    <td>120-15</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Nazwa drużyny</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>54</td>
                    <td>120-15</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Nazwa drużyny</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>54</td>
                    <td>120-15</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Nazwa drużyny</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>54</td>
                    <td>120-15</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Nazwa drużyny</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>54</td>
                    <td>120-15</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Nazwa drużyny</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>54</td>
                    <td>120-15</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
        <div class="scores-wrapper-big">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="score-wrapper">
                        <div class="score-wrapper-align">
                            <p class="score-name">29-30.10.2016 - VI kolejka</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="score-wrapper">
                        <div class="score-wrapper-align">
                            <p class="score-name">29-30.10.2016 - VI kolejka</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="score-wrapper">
                        <div class="score-wrapper-align">
                            <p class="score-name">29-30.10.2016 - VI kolejka</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="score-wrapper">
                        <div class="score-wrapper-align">
                            <p class="score-name">29-30.10.2016 - VI kolejka</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="score-wrapper">
                        <div class="score-wrapper-align">
                            <p class="score-name">29-30.10.2016 - VI kolejka</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="score-wrapper">
                        <div class="score-wrapper-align">
                            <p class="score-name">29-30.10.2016 - VI kolejka</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                            <p>Lorem ipsum v Lorem ipsum 29:0 (12:0)</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>