@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    Page.Title = "Tabela";
}

<section class="leagues">
    <div class="title-gradient">
        <h1>Terminarz</h1>
    </div>
    <div class="container">
        <div class="scores-wrapper-big">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="score-wrapper">
                        <div class="score-wrapper-align">
                            <p class="score-name">29-30.10.2016 - VI kolejka</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="score-wrapper">
                        <div class="score-wrapper-align">
                            <p class="score-name">29-30.10.2016 - VI kolejka</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="score-wrapper">
                        <div class="score-wrapper-align">
                            <p class="score-name">29-30.10.2016 - VI kolejka</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="score-wrapper">
                        <div class="score-wrapper-align">
                            <p class="score-name">29-30.10.2016 - VI kolejka</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="score-wrapper">
                        <div class="score-wrapper-align">
                            <p class="score-name">29-30.10.2016 - VI kolejka</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="score-wrapper">
                        <div class="score-wrapper-align">
                            <p class="score-name">29-30.10.2016 - VI kolejka</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                            <p>Lorem ipsum - Lorem ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>