<header>
    <div class="top-header">
        <div class="logo-wrapper">
            <p>Logo</p>
        </div>
        <div class="logo-description">
            <p>Lorem ipsum Lorem ipsum Lorem ipsum</p>
        </div>
    </div>
    <div class="menu-wrapper">
        <ul>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/home']">
                    <span class='glyphicon glyphicon-home'></span> Home
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/players']">
                    Zawodnicy
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/stadiums']">
                    Stadiony
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/contact']">
                    Kontakt
                </a>
            </li>
        </ul>
    </div>
</header>
